<section-nav class="nav">

    <div class="container">
        <div class="row pos-rel">
            <div class="col-md-4">
                <a href="#/" class="nav__item" data-active={ $Router.section == "products" }>
                    <span>Товары</span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#/packages" class="nav__item" data-active={ $Router.section == "packages" }>
                    <span>Наборы</span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#/orders" class="nav__item" data-active={ $Router.section == "orders" }>
                    <span>Заказы</span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#/offers" class="nav__item" data-active={ $Router.section == "offers" }>
                    <span>Офферы</span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#/managers" class="nav__item" data-active={ $Router.section == "managers" }>
                    <span>Менеджеры</span>
                </a>
            </div>
            <div class="col-md-4">
                <a target="_blank" href="/podbor/#podbor" class="nav__item">
                    <span class="c-blueDark">Подбор</span>
                </a>
            </div>
            <a href="#/" class="nav__profile"></a>
        </div>
    </div>

</section-nav>
