screen-podbor {
    .product {
        @include flex("column", "flex-start", "center");
        @extend .pt-m;
        @extend .h95v;

        &:nth-child(1),
        &:nth-child(2){
            &:after {
                @extend .content-empty;
                @extend .pos-tr;
                @extend .w1px;
                @extend .h100p;
                @extend .opacity-50;
                background:linear-gradient(to bottom, rgba(#D3DCE6,0), $grayLighten, rgba(#D3DCE6,0));
            }
        }
        &__scribble {
            @include accelerate();
            @include abs();
            @extend .h100v;
            @extend .opacity-0;
            @extend .visibility-hidden;
            @extend .pointerEvents-none;
            @extend .fontSize-32;
            @extend .lineHeight-xxxxl;
            background-color:rgba($white,.8);
            @extend .zIndex-2;
            will-change:opacity;
            transition:opacity 0.35s $cubic32, visibility 0s 0.35s;

            &__text {
                @extend .pos-centered;
                width:200px;
            }
            &__icon {
                @extend .pos-rel;
                @extend .bg-cover;
                width:102px;
                height:102px;
                @extend .mlr-auto;
                @extend .mb-m;
                @extend .mt--l;
                background-image:url(/public/images/ir_gray.svg);

                &:after {
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .t50;
                    @extend .l50;
                    @extend .w2px;
                    @extend .bg-red;
                    @extend .mt-xs;
                    height:0px;
                    will-change:height;
                    transform:translate3d(-50%, -50%, 0) rotate(45deg);
                    transition:height 0.3s $cubic32;
                }
            }
        }
        &[data-hidden="true"]{
            .product__scribble {
                @extend .opacity-100;
                @extend .visibility-visible;
                transition:opacity 0.35s $cubic32, visibility 0s;

                &__icon:after {
                    height:110%;
                    transition:height 0.4s $cubic32 0.4s;
                }
            }
            .product__content {
                @extend .pointerEvents-none;
                filter:blur(14px);
            }
        }
        &[data-group="econom"]{
            .product__label {
                @extend .fontSize-18;
                @extend .letterSpacing--xs;
            }
            .product__label,
            .product__price {
                @extend .bg-blueLight;
            }
            .product__label {
                @extend .text-capitalize;
            }
        }
        &[data-group="norm"]{
            .product__label {
                @extend .fontSize-18;
            }
            .product__label,
            .product__price {
                @extend .bg-emerald;
            }
            .product__label {
                @extend .text-capitalize;
            }
        }
        &[data-group="lux"]{
            .product__label {
                @extend .fontSize-22;
            }
            .product__label,
            .product__price {
                @extend .bg-black;
            }
            .product__label {
                @extend .text-uppercase;
            }
        }
        &[data-product="power"]{
            .product__item__photo {
                width:78.5%;
                @extend .trX--l;
            }
        }
        &__label {
            @extend .pos-abs;
            @extend .t10;
            @extend .r-s;
            @extend .flex-centered;
            @extend .w70;
            @extend .h70;
            @extend .c-white;
            @extend .borderRadius-circle;
            @extend .zIndex-1;
            padding-top:2px;
            text-shadow:0 0 0 #fff;
        }
        &__select {
            @extend .flex-centered;
            @extend .pos-abs;
            @extend .t-xl;
            @extend .l-l;
            @extend .w60;
            @extend .h60;
            @extend .borderRadius-xl;
            border:1px dashed rgba($blue,.7);
            transition:background-color 0.2s $cubic645;
            @extend .zIndex-1;
            @extend .cursor-pointer;

            &:after,
            &:before {
                @extend .content-empty;
                @extend .display-block;
                will-change:transform, opacity;
                transition:transform .3s $cubic32, opacity .2s $cubic32;
            }
            &:after {
                @include ui-icon(more_h, 34px, 34px);
            }
            &:before {
                @extend .opacity-0;
                @include abs_50(44, 44);
                @include ui-icon(unbox_white, 44px, 44px);
                transform:translate3d(0, 5px, 0) scale(0);
            }
            &__count {
                @extend .flex-centered;
                @extend .pos-abs;
                @extend .t0;
                @extend .l100;
                width:36px;
                height:36px;
                @extend .c-white;
                @extend .fontSize-16;
                @extend .fontWeight-5;
                border-radius:42% 48% 50% 62%;
                @extend .bg-blue;
                border:3px solid $white;
                transform:translate3d(-18px, -12px, 0);
                padding-top:2px;
            }
            &:hover {
                @extend .bg-blue;

                &:after {
                    @include ui-icon(more_h_white);
                }
            }
        }
        &__article {
            @extend .pos-centered-h;
            top:100px;
            @extend .pl-m;
            @extend .userSelect-text;
            color:darken($smokeSilver,10%);
            @extend .fontSize-16;

            strong {
                @extend .c-silver;
                @extend .fontWeight-5;
            }
        }
        &__sizes {
            @extend .pos-abs;
            top:155px;
            @extend .r-xs;
            @extend .flex-centered;
            @extend .w50;

            &:after {
                width:150px;
                @extend .fontSize-16;
                @extend .lineHeight-xs;
                @extend .fontFamily-myriad;
                @extend .whiteSpace-normal;
                @extend .borderRadius-xxl;
                @extend .text-right;
                padding:0.7em 1.25em 0.7em 0.7em;
            }
            &__icon {
                @include ui-icon("sizes_gray", 30px, 30px);
            }
            &[data-hidden="true"]{
                @extend .display-none;
            }
        }
        &__item {
            @extend .w100p;
            @extend .pos-centered-v;
            @extend .mt-l;
            @extend .overflow-hidden;

            &__photo {
                @extend .pos-rel;
                @extend .flex-centered;
                width:74%;
                height:33vh;
                @extend .mlr-auto;

                &__image {
                    @extend .maxW-100p;
                    max-height:200px;
                }
            }
            &__text {
                @extend .pos-rel;
                @extend .h20v;
                @extend .pt-xxs;
                @extend .plr-l;
                @extend .cursor-default;
                @extend .fontWeight-3;
                @extend .lineHeight-l;

                &:after {
                    @extend .w70p;
                    @extend .fontSize-16;
                    @extend .lineHeight-xs;
                    @extend .fontFamily-myriad;
                    @extend .whiteSpace-normal;
                    @extend .borderRadius-xxxxl;
                    padding:0.7em 1.65em;
                    transition:transform 0.3s $cubic32, opacity 0.3s $cubic32;
                }
                &:before {
                    @extend .display-none;
                }
                &:hover {
                    &:after {
                        transition:transform 0.35s $cubic32 0.3s, opacity 0.35s $cubic32 0.3s;
                    }
                }
                &[data-selected="true"]{
                    &:after {
                        @extend .opacity-100;
                        @extend .transition-none;
                    }
                }
            }
        }
        &__content {
            @include accelerate();
            @extend .display-block;
            @extend .w100p;
            @extend .h100p;
            will-change:filter;
            transition:filter 0.5s $cubic32;
        }
        &__price {
            @extend .flex-centered;
            @extend .pos-centered-h;
            @extend .t100;
            margin-top:-101px;
            width:202px;
            height:202px;
            @extend .borderRadius-circle;
            @extend .c-white;
            @extend .fontSize-36;
            @extend .fontWeight-3;
            @extend .pb-l;
        }
        &__tooltip__screen {
            @include accelerate();
            @extend .display-block;
            @extend .pos-abs;
            @extend .visibility-hidden;
            @extend .pointerEvents-none;
            @extend .opacity-0;
            top:-2.5vh;
            height:105vh;
            width:calc(100% + 10px);
            background-color:rgba($blue,.87);
            will-change:opacity, transform;
            transform:scale(.95);
            transform-origin:50% 25%;
            transition:opacity 0.55s $cubic2501, transform 0.55s $cubic2501, visibility 0s 0.55s;
            @extend .zIndex-2;

            &__text {
                @extend .pos-centered;
                @extend .c-white;
                @extend .fontSize-24;
                @extend .lineHeight-xxxl;
                @extend .fontWeight-3;
                @extend .pb-xl;
                @extend .w80p;

                &:before {
                    @extend .content-empty;
                    @extend .display-block;
                    @extend .mlr-auto;
                    @extend .trY--l;
                    @include ui-icon("check_white", 90px, 90px);
                }
            }
            &[data-active="true"]{
                @extend .visibility-visible;
                @extend .pointerEvents-all;
                @extend .opacity-100;
                @extend .transform-default;
                transition:opacity 0.55s $cubic2501, transform 0.55s $cubic2501, visibility 0s;
            }
        }
    }
    .product[data-product="ledribbon"] .product__tooltip__screen {
        @extend .l--xs;
        @extend .text-center;
    }
    .product[data-product="control"] .product__tooltip__screen {
        @extend .l0;
        @extend .text-left;
    }
    .product[data-products="true"] .product__select {
        @extend .bg-blue;

        &:before {
            @extend .opacity-100;
            transform:translate3d(0, 5px, 0) scale(1);
        }
        &:after {
            @extend .opacity-0;
            transform:scale(0);
        }
    }
    .connect__control {
        @extend .flex-centered;
        @extend .pos-centered-v;
        @extend .l100;
        @extend .w60;
        @extend .h60;
        margin-left:-30px;
        @extend .borderRadius-circle;
        @extend .zIndex-3;
        @extend .cursor-pointer;
        will-change:opacity;
        transition:opacity 0.5s $cubic089;

        &:before {
            @include abs();
            @extend .content-empty;
            @extend .bg-silver;
            @extend .borderRadius-circle;
            will-change:background-color, transform;
            transition:background-color .5s $bounce, transform 0.08s $cubic645;
        }
        &:after {
            @extend .pos-rel;
            @extend .content-empty;
            @extend .display-block;
            @include ui-icon(plus_thin_white, 32px, 32px);
            @extend .willChange-transform;
            transform:rotate(45deg);
            transition:transform .5s $bounce;
        }
        &[data-active="true"]{
            &:before {
                @extend .bg-blue;
            }
            &:after {
                transform:rotate(0deg);
            }
            &:hover {
                &:before {
                    @extend .bg-silver;
                }
                &:after {
                    transform:rotate(45deg);
                }
            }
        }
        &:active {
            &:before {
                transform:scale(0.95);
            }
        }
        &[data-hidden="true"]{
            @extend .opacity-0;
            @extend .pointerEvents-none;
        }
    }
    .product[data-product="ledribbon"],
    .product[data-product="control"] {
        .connect__control {
            @extend .display-none;
        }
    }
    @media screen and (min-height: 720px) {
        .product__article {
            font-size:18px !important;
        }
        .product__sizes {
            top:160px;
        }
        .product__item {
            padding-top:8px;
        }
        .product__item__text {
            font-size:20px;
            line-height:32px !important;
        }
        .product__price {
            margin-top:-110px;
            width:220px;
            height:220px;
            font-size:38px !important;
        }
    }
}
