screen-podbor,
screen-podbor-mobile {
    .products__list {
        &__container {
            @extend .pos-rel;
            @extend .overflowX-hidden;
            @extend .overflowY-auto;
        }
        &__close {
            @extend .flex-row-left-center;
            @extend .pos-abs;
            @extend .t-m;

            &:before {
                @extend .content-empty;
                @extend .display-block;
            }
        }
        &__title {
            @extend .flex-row-right-center;
            @extend .fontWeight-3;
            @extend .pr-xs;
            padding-bottom:7px;
            padding-top:3px;
            border-bottom:1px solid rgba($grayLighten,.4);
        }
        &__stars {
            @extend .flex-row-right-center;

            i {
                @extend .display-block;
                @include ui-icon("star_fill");
                @extend .opacity-85;
            }
        }
        &__items {
            padding-top:3px;
            @extend .zIndex-1;
        }
        &__item {
            @extend .pos-rel;
            @extend .flex-centered;
            @extend .plr0;
            @extend .h80;
            @extend .cursor-default;

            &__image {
                @extend .display-block;
                @extend .h-auto;
                max-height:60px;
            }
            &:not([data-active="true"]):before {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .l50;
                @extend .t0;
                @extend .w70;
                @extend .h50;
                margin-left:-35px;
                transform:translateY(30px);
                @extend .opacity-0;
                @extend .borderRadius-xl;
                @extend .zIndex-1;
                border-bottom:2px solid $green;
                transition:opacity 0.2s $cubic215;

                .d-mobile & {
                    @extend .display-none;
                }
            }
            &:not([data-active="true"]):hover {
                @extend .cursor-pointer;

                &:before {
                    @extend .opacity-70;
                }
            }
            &[data-active="true"]{
                &:after {
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .t0;
                    @extend .l100;
                    @extend .zIndex-2;
                    @include ui-icon(check_circle_green, 20px, 20px);
                    transform:translate3d(-25px, 3px, 0);
                }
            }
        }
    }
    .search__empty {
        @extend .display-none;
        @extend .pos-centered;
        @extend .w100v;
        @extend .h100v;
        @extend .bg-white;
        @extend .c-blue;
        @extend .fontSize-32;
        @extend .zIndex-4;

        &__text {
            @extend .pos-centered;
            width:750px;
        }
    }
    .product[data-empty="true"] ~ .search__empty {
        @extend .display-block;
    }
}
screen-podbor {
    .products__list {
        @include accelerate();
        @extend .pos-abs;
        @extend .l0;
        @extend .w100p;
        @extend .visibility-hidden;
        @extend .pointerEvents-none;
        @extend .opacity-0;
        top:-2.5vh;
        height:105vh;
        @extend .bg-white;
        @extend .text-left;
        will-change:opacity;
        transform:translate3d(110%, 0, 0);
        transition:opacity 0.3s $cubic32, transform 0.4s $cubic089, visibility 0s 0.4s;
        box-shadow:0 8.66px 40px 0 rgba(#D3DCE6,.34);
        @extend .zIndex-10;

        &[data-active="true"]{
            @extend .opacity-100;
            @extend .visibility-visible;
            @extend .pointerEvents-all;
            transform:translate3d(100%, 0, 0);
            transition:opacity 0.3s $cubic32, transform 0.4s $cubic089, visibility 0s;

            &:after {
                transform:translate3d(0, -50%, 0) scale3d(1, 1, 1);
                transition:transform 0.4s $cubic089 0.1s;
            }
        }
        &:after {
            @include accelerate();
            @extend .content-empty;
            @extend .display-inlineBlock;
            @extend .pos-abs;
            @extend .t50;
            @extend .r100;
            border-right:22px solid $blue;
            border-top:22px solid rgba(0, 0, 0, 0);
            border-bottom:22px solid rgba(0, 0, 0, 0);
            transform:translate3d(0, -50%, 0) scale3d(0, 0, 1);
            transition:transform 0.3s $bounce;
        }
        &__container {
            @extend .p-m;
        }
        &__close {
            @extend .l-m;
            @extend .trX-xxs;
            @extend .fontWeight-3;
            @extend .cursor-pointer;

            &:before {
                @extend .mr-xxs;
                transform:scaleX(-1);
                @include ui-icon(back, 24px, 24px);
            }
            &:hover {
                @extend .c-blue;
            }
        }
        &__title {
            font-size:19px;

            i {
                width:18px;
                height:18px;
                transform:translateY(-3px);

                &:last-child {
                    margin-right:8px;
                }
            }
        }
    }
    .product[data-product="control"] .products__list {
        box-shadow:0 8.66px 40px 0 rgba(#D3DCE6,.34);
        transform:translate3d(-90%, 0, 0);

        &:after {
            @extend .r-auto;
            @extend .l100;
            transform:translate3d(0, -50%, 0) scale3d(0, 0, 1) scaleX(-1);
        }
        &[data-active="true"]{
            transform:translate3d(-100%, 0, 0);

            &:after {
                transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) scaleX(-1);
            }
        }
    }
    .product[data-product="ledribbon"] {
        .products__list__item__image {
            max-width:75px;
        }
    }
    .product[data-product="power"] {
        .products__list__item__image {
            max-width:84px;
        }
    }
    .product[data-product="control"] {
        .products__list__item__image {
            max-width:70px;
        }
    }
    @media screen and (min-height: 720px) {
        .product[data-product="ledribbon"] {
            .products__list__item__image {
                max-width:85px;
            }
        }
        .product[data-product="power"] {
            .products__list__item__image {
                max-width:85px;
            }
        }
        .product[data-product="control"] {
            .products__list__item__image {
                max-width:80px;
            }
        }
    }
}
