.textarea {
    @extend .fontFamily-helvetica;
    @extend .c-blackDark;
    @extend .fontWeight-normal;
    @extend .border-none;
    @extend .borderRadius-m;
    @extend .w100p;
    @extend .vAlign-middle;
    @extend .transition-default;
    box-shadow:inset 0 0 0 1px $grayLighten;

    &:hover {
        box-shadow:inset 0 0 0 1px darken($grayLighten,9%);
    }
    &:focus {
        box-shadow:inset 0 0 0 1px $blue;

        + .input-icon .input-svg-color {
            @extend .fill-blue;
        }
    }
    &::-webkit-input-placeholder {
        line-height:normal;
        color:$grayLight;
        padding-top:2px;
    }
    &::-moz-input-placeholder {
        line-height:normal;
        color:$grayLight;
        padding-top:2px;
    }
    &-disabled,
    &-disabled:hover {
        @extend .bg-snow;
        box-shadow:inset 0 0 0 1px $smoke;
        @extend .cursor-default;
        @extend .pointerEvents-none;
    }
    &-xl {
        min-height:180px;
        padding:16px 20px;
        @extend .fontSize-20;
    }
    &-l {
        min-height:150px;
        padding:14px 16px;
        @extend .fontSize-18;
    }
    &-m {
        min-height:120px;
        padding:8px 12px;
        @extend .fontSize-18;
    }
    &-s {
        min-height:100px;
        padding:6px 8px;
        @extend .fontSize-16;
    }
    &-xs {
        min-height:80px;
        padding:6px 8px;
        @extend .fontSize-15;
        @extend .borderRadius-xs;
    }
}
