@each $icon in (
    loading, loading_mini, loading_white, close, close_white, close_strong,
    close_strong_white, minus, minus_white, plus, plus_white, plus_thin,
    plus_thin_white, pencil, pencil_white, menu, menu_white, more_h, more_h_white,
    more_v, more_v_white, back, back_white, back_circle, help, close_fill,
    close_strong, close_fill_gray, info_white, check, check_muted, check_gray,
    check_black, check_white, check_circle, check_circle_green, edit, edit_white,
    repeat, profile
){
    .ui-icon-#{$icon} {
        background:url('/assets/images/ui/ui-#{$icon}.svg') no-repeat 0 0 / cover;
    }
}
@mixin ui-icon($icon, $width: false, $height: false) {
    @if $width {
        width:#{$width};
    }
    @if $height {
        height:#{$height};
    }
    @extend .ui-icon-#{$icon};
}
