<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ledtop // Podbor</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
    <link rel="manifest" href="/manifest.json">
    <link id="styles" rel="stylesheet" href="/public/css/style.css">
</head>
<body class="appLoading">

    <root-main id="app"></root-main>

    <div id="loader">
        <div class="loader-spinner"></div>
    </div>

    <!--/ VENDORS /-->
    <script src="/public/js/libs.js"></script>

    <!--/ Root /-->
    <script src="/public/templates/root.html" type="riot/tag"></script>

    <!--/ Section screens /-->
    <script src="/public/templates/app/screens/screens.html" type="riot/tag"></script>
    <script src="/public/templates/app/screens/begin.html" type="riot/tag"></script>
    <script src="/public/templates/app/screens/step1.html" type="riot/tag"></script>
    <script src="/public/templates/app/screens/step2.html" type="riot/tag"></script>

    <!--/ Section screens (mobile) /-->
    <script src="/public/templates/mobile/screens/screens.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/screens/begin.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/screens/step1.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/screens/step2.html" type="riot/tag"></script>

    <!--/ App templates /-->
    <script src="/public/templates/app/section.html" type="riot/tag"></script>
    <script src="/public/templates/app/packages/packages-select.html" type="riot/tag"></script>
    <script src="/public/templates/app/packages/packages.html" type="riot/tag"></script>
    <script src="/public/templates/app/control/control.html" type="riot/tag"></script>
    <script src="/public/templates/app/control/control-wrapper.html" type="riot/tag"></script>
    <script src="/public/templates/app/control/control-length.html" type="riot/tag"></script>
    <script src="/public/templates/app/control/control-humidity.html" type="riot/tag"></script>
    <script src="/public/templates/app/control/control-color.html" type="riot/tag"></script>
    <script src="/public/templates/app/control/control-color-item.html" type="riot/tag"></script>
    <script src="/public/templates/app/control/control-light.html" type="riot/tag"></script>
    <script src="/public/templates/app/products/product-item.html" type="riot/tag"></script>
    <script src="/public/templates/app/products/product-content.html" type="riot/tag"></script>
    <script src="/public/templates/app/products/products-list.html" type="riot/tag"></script>
    <script src="/public/templates/app/products/product-tooltip-screen.html" type="riot/tag"></script>
    <script src="/public/templates/app/products/connect-control.html" type="riot/tag"></script>
    <script src="/public/templates/app/offer-manager.html" type="riot/tag"></script>
    <script src="/public/templates/app/menu/menu.html" type="riot/tag"></script>
    <script src="/public/templates/app/menu/menu-items.html" type="riot/tag"></script>
    <script src="/public/templates/app/order/total-price.html" type="riot/tag"></script>
    <script src="/public/templates/app/order/screens-order.html" type="riot/tag"></script>
    <script src="/public/templates/app/order/order-list.html" type="riot/tag"></script>
    <script src="/public/templates/app/order/order.html" type="riot/tag"></script>
    <script src="/public/templates/app/order/sendmail.html" type="riot/tag"></script>
    <script src="/public/templates/app/order/payment.html" type="riot/tag"></script>
    <script src="/public/templates/app/gallery.html" type="riot/tag"></script>

    <!--/ App templates (mobile) /-->
    <script src="/public/templates/mobile/app/section.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/navbar.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/control.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/menu.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/result-count.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/products/product.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/products/product-item.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/products/product-content.html" type="riot/tag"></script>
    <script src="/public/templates/mobile/app/products/products-list.html" type="riot/tag"></script>

    <!--/ Modules /-->
    <script src="/assets/templates/modules/notify.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/tutorial.html" type="riot/tag"></script>

    <!--/ UI elements /-->
    <script src="/assets/templates/ui/input.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/textarea.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/select.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/slider.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/dropMenu.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/checkbox.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-help.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-email.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-order.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-wallet.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-phone.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-votes.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-gallery.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-fb.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-vk.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-gl.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-tw.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-dk.html" type="riot/tag"></script>

    <!--/ JS components /-->
    <script src="/assets/js/components/commons/app.js"></script>
    <script src="/assets/js/components/commons/common.js"></script>
    <script src="/assets/js/components/commons/afterlag.js"></script>
    <script src="/assets/js/components/commons/compatible.js"></script>
    <script src="/assets/js/components/commons/modules.js"></script>
    <script src="/assets/js/components/commons/utils.js"></script>
    <script src="/assets/js/components/commons/request.js"></script>

    <script src="/public/js/components/fetch.js"></script>
    <script src="/public/js/components/config.js"></script>
    <script src="/public/js/components/tutorial.js"></script>
    <script src="/public/js/components/router.js"></script>

    <script src="/assets/js/plugins/styles.js"></script>
    <script src="/assets/js/plugins/share.js"></script>
    <script src="/assets/js/plugins/animate.js"></script>
    <script src="/assets/js/plugins/marquee.js"></script>
    <script src="/assets/js/plugins/screens.js"></script>

    <script src="/assets/js/store/products.js"></script>
    <script src="/assets/js/store/packages.js"></script>
    <script src="/assets/js/store/light.js"></script>
    <script src="/assets/js/store/type.js"></script>
    <script src="/assets/js/store/group.js"></script>
    <script src="/public/js/store/data.js"></script>
    <script src="/public/js/store/humidity.js"></script>
    <script src="/public/js/store/color.js"></script>
    <script src="/public/js/store/order.js"></script>

    <script src="/public/js/components/init.js"></script>

</body>
</html>
