<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ledtop // Private</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
    <link id="styles" rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <root-main id="app"></root-main>

    <!--/ VENDORS /-->
    <script src="/assets/js/libs.js"></script>

    <!--/ Root /-->
    <script src="/assets/templates/root.html" type="riot/tag"></script>

    <!--/ Partials /-->
    <script src="/assets/templates/partials/nav.html" type="riot/tag"></script>

    <!--/ Sections /-->
    <script src="/assets/templates/sections/products/products.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/products/productsSearch.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/products/productsOptions.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/products/productsTable.html" type="riot/tag"></script>

    <script src="/assets/templates/sections/packages/packages.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/offers/offers.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/managers/managers.html" type="riot/tag"></script>

    <!--/ Modules /-->
    <script src="/assets/templates/modules/notify.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/loader.html" type="riot/tag"></script>

    <!--/ UI elements /-->
    <script src="/assets/templates/ui/input.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/textarea.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/select.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/slider.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/dropMenu.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/checkbox.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/btn-plus.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-help.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-email.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-order.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-wallet.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-phone.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/icon-votes.html" type="riot/tag"></script>

    <!--/ JS components /-->
    <script src="/assets/js/components/commons/app.js"></script>
    <script src="/assets/js/components/commons/common.js"></script>
    <script src="/assets/js/components/commons/afterlag.js"></script>
    <script src="/assets/js/components/commons/compatible.js"></script>
    <script src="/assets/js/components/commons/modules.js"></script>
    <script src="/assets/js/components/commons/utils.js"></script>
    <script src="/assets/js/components/commons/request.js"></script>

    <script src="/assets/js/components/fetch.js"></script>
    <script src="/assets/js/components/config.js"></script>
    <script src="/assets/js/components/router.js"></script>

    <script src="/assets/js/plugins/styles.js"></script>

    <script src="/assets/js/store/data.js"></script>
    <script src="/assets/js/store/products.js"></script>
    <script src="/assets/js/store/packages.js"></script>
    <script src="/assets/js/store/light.js"></script>
    <script src="/assets/js/store/group.js"></script>

    <script src="/assets/js/components/init.js"></script>

</body>
</html>
