<section-managers>

    <div class="display-none row">
        <div class="col-md-12">
            <div class="manager__item mr-m mb-m">
                <div class="manager__item__avatar">
                    <div class="manager__item__avatar__image" style="background-image:url(/assets/images/avatars/8.jpg)"></div>
                </div>
                <div class="manager__item__text">
                    <div class="manager__item__title">Дарья</div>
                    <div class="manager__item__date mb-xs">Последний визит:<br><span class="c-blue">3 декабря 2016</span></div>
                    <div class="manager__item__date">В системе: <strong>236 дней</strong></div>
                </div>
                <div class="manager__item__stat">
                    <div class="manager__item__stat__item">
                        Офферов: <strong>27</strong>
                    </div>
                    <div class="manager__item__stat__item">Заказов: <strong>16</strong></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="manager__item mr-m mb-m">
                <div class="manager__item__avatar">
                    <div class="manager__item__avatar__image" style="background-image:url(/assets/images/avatars/9.jpg)"></div>
                </div>
                <div class="manager__item__text">
                    <div class="manager__item__title">Александра</div>
                    <div class="manager__item__date mb-xs">Последний визит:<br><span class="c-blue">3 декабря 2016</span></div>
                    <div class="manager__item__date">В системе: <strong>236 дней</strong></div>
                </div>
                <div class="manager__item__stat">
                    <div class="manager__item__stat__item">
                        Офферов: <strong>27</strong>
                    </div>
                    <div class="manager__item__stat__item">Заказов: <strong>16</strong></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="manager__item mr-m mb-m">
                <div class="manager__item__button__create">Добавить менеджера</div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){

    });

</script>

</section-managers>
