<section-panel class="panel">

    <div class="panel__container">
        <!-- <div class="control">
            <div class="control__pack" data-pack="lux">LUX</div>
        </div> -->
        <div class="control">
            <div class="button__ok"></div>
        </div>
        <div class="control">
            <div class="control__light__icon" data-light="rgb"></div>
            <div class="control__icon" data-icon="light"></div>
        </div>
        <div class="control">
            <div class="control__value">P67</div>
            <div class="control__icon" data-icon="humidity"></div>
        </div>
        <div class="control">
            <div class="control__icon" data-icon="color" data-color="blue"></div>
        </div>
        <div class="control">
            <div class="control__value">25м</div>
            <div class="control__icon" data-icon="length"></div>
        </div>
    </div>

</section-panel>
