<product-tooltip-screen onmouseover={ hide } onUpdate="none" class="product__tooltip__screen" data-active={ active }>

    <div class="product__tooltip__screen__text">
        Все представленные компоненты прошли тщательный отбор и отвечают всем современным требованиям.
    </div>

<script>

    var $ = this;

    $.active = false;

    $.show = function(){
        $.update({
            active: true
        })
        $afterlag.run(function(){
            if (!$Config.get("tooltipScreen")){
                $.hide();
            }
        }, {
            delay: 3000,
            iterations: 5
        });
    };

    $.hide = function(){
        if (!$.active) return;
        $afterlag.run(function(){
            $.update({
                active: false
            })
            $Config.set("tooltipScreen", true);
        }, {
            delay: 1000,
            iterations: 5
        });
    };

</script>

</product-tooltip-screen>
