<root-main>

    <div class="screens"></div>

    <section-tutorial></section-tutorial>

    <section-notify></section-notify>

<script>

    $$ = window.jQuery || window.Zepto;

    $root = this;
    $rootScope = $$(this.root);

    this.ready = false;

    app.ver = "1.08";

    var state = {
        group: "norm",
        tooltipScreen: true,
        showProducts: false,
        tutorial: false
    };

    var options = {
        light: "1",
        color: "white",
        hum: "IP33",
        length: "5",
        controlled: true
    };

    if (!_.isEmpty($Router.params.get())){
        _.extend(options, $Router.params.get());
        options.controlled = options.controlled === "false" ? false : true;
    }

    var appVer = Store.get('appVer');

    if (appVer && appVer == app.ver){
        if (Store.get('state')){
            _.extend(state, Store.get('state'));
            state.showProducts = false;
        }
    }
    else {
        Store.clear();
        Store.set('appVer', app.ver);
    }

    $State = new Baobab(state, { autoCommit: true });
    $Options = new Baobab(options, { autoCommit: true });

    $State.on("write", function(e){
        Store.set('State', $State.get());
    });

    if (app.config.changeStyles){
        app.plugins.styles.init({
            elem: "#styles",
            default: "normal",
            screens: [
                {
                    title: "normal",
                    maxWidth: 1400,
                    path: "/public/css/style.css"
                },
                {
                    title: "large",
                    minWidth: 1400,
                    path: "/public/css/style.largeScreen.css"
                }
            ]
        });
    }

    this.on("mount", function(){

        $Tutorial = $root.tags["section-tutorial"];
        $Notify = $root.tags["section-notify"];

        app.router.init();

        $root.ready = true;
    });

</script>

</root-main>
