@each $title, $title2, $size, $height in (xxs, 12, 12px, 16px), (xs, 13, 13px, 18px), (s, 15, 15px, 20px), (m, 16, 16px, 24px), (l, 18, 18px, 26px), (xl, 20, 20px, 28px), (xxl, 24, 24px, 32px), (xxxl, 28, 28px, 34px), (xxxxl, 32, 32px, 36px), (xxxxxl, 36, 36px, 40px), (xxxxxxl, 40, 40px, 44px), (xxxxxxxl, 52, 52px, 56px), (xxxxxxxxl, 64, 64px, 68px), (xxxxxxxxxl, 80, 80px, 92px){
    .fontSize-#{$title},
    .fontSize-#{$title2} {
        font-size:$size;
        line-height:$height;

        @if $title == "xxxxxxxxxl" {
            letter-spacing:-.024em;
        }
        @if $title == "xxxxxxxxl" {
            letter-spacing:-.02em;
        }
        @if $title == "xxxxxxxl" {
            letter-spacing:-.016em;
        }
        @if $title == "xxxxxxl" {
            letter-spacing:-.008em;
        }
    }
}
@each $title, $size, $height in (10, 10px, 14px), (11, 11px, 15px), (21, 21px, 29px), (22, 22px, 30px), (42, 42px, 46px), (44, 44px, 48px), (46, 46px, 50px), (48, 48px, 52px){
    .fontSize-#{$title} {
        font-size:$size;
        line-height:$height;
        letter-spacing:-.008em;
    }
}
.fontSize-0 {
    font-size:0;
}
