<products-table class="products__table__wrapper">

    <div class="rows products__table">
        <div class="row products__table__header">
            <div class="col-md-8 products__table__title c-blueLight">
                { $store.group.get(0).title }
            </div>
            <div class="col-md-8 products__table__title c-emerald">
                { $store.group.get(1).title }
            </div>
            <div class="col-md-8 products__table__title c-orange">
                { $store.group.get(2).title }
            </div>
        </div>
        <div each={ item in _.range(5, 55, 5) } no-reorder class="row products__table__row">
            <div class="products__table__length">
                { item }м
            </div>
            <div onClick={ select } onUpdate="none" each={ group in $store.group.get() } no-reorder class="col-md-8 { selected : selected(parent.item, group._id) }" data-group="{ group._id }">
                <div class="products__table__items"><span each={ product in get.items(parent.item, group._id) } class="products__table__item">{ product._id }</span></div>
                <div class="products__table__buttonEdit"></div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.get = {
        items: function(length, group){
            var light = $.parent.state.get('light');
            return _.filter($store.products.get(), function(item){
                return item.light == light && item.length == String(length) && item.group == group;
            });
        }
    };

    $.selected = function(length, group){
        return $.parent.state.get('length') == length && $.parent.state.get('group') == group;
    };

    $.select = function(e){
        var c = e.target.getAttribute("class");
        if (c && c.match(/buttonEdit/)){

        }
        else {
            $.parent.state.set({
                'light': $.parent.state.get('light'),
                'length': String(this.parent.item),
                'group': this.group._id
            });
            $.parent.sections.options.update();
        }
    };

</script>

</products-table>
