<section-products>

    <div class="row">
        <div class="col-md-8">
            <div class="input-title">Тип подсветки</div>
            <div class="select select-m mb-s">
                <select name="selectLight" onChange={ select.light } onUpdate="none">
                    <option each={ item in $store.light.get() } value="{ item._id }">{ item.title }</option>
                </select>
            </div>
            <products-create></products-create>
        </div>
        <div class="col-md-16">
            <products-table></products-table>
        </div>
    </div>

    <products-edit></products-edit>

<script>

    var $ = this;

    $Products = $;

    $.on("before-mount", function(){

        $.sections = {
            create: $.tags["products-create"],
            table: $.tags["products-table"],
            edit: $.tags["products-edit"]
        };

        $.state = new Baobab({
            light: null,
            type: null,
            length: null,
            group: null
        },
        { autoCommit: true });

        _.bbUpdate($.state, function(prop, value, e){
            $.sections.table.update();
        });
    });

    $.on("mount", function(){
        $.state.set('light', $.selectLight.value);
    });

    $.select = {
        light: function(e){
            $.state.set('light', e.target.value);
        }
    };

    $.on("unmount", function(){
        $.state.off("update");
    });

</script>

</section-products>
