<products-table class="table__wrapper">

    <div class="rows table">
        <div class="row table__header">
            <div class="col-md-8">
                { $store.type.get(0).title }
            </div>
            <div class="col-md-8">
                { $store.type.get(1).title }
            </div>
            <div class="col-md-8">
                { $store.type.get(2).title }
            </div>
        </div>
        <div each={ item in _.range(5, 55, 5) } no-reorder class="row table__row">
            <div class="table__length">
                { item }м
            </div>
            <div each={ type in $store.type.get() } no-reorder class="col-md-8">
                <div class="table__items">
                    <div onClick={ select } oncontextmenu={ dropmenu } onUpdate="self" each={ group in $store.group.get() } no-reorder class="table__item table__item--select { selected : selected(this) }" data-item="{ group._id }">{ get.items(this) }</div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.get = {
        options: function(_this){
            return {
                'light': $Products.state.get('light'),
                'type': _this.parent._item.type._id,
                'length': String(_this.parent.item),
                'group': _this.group._id
            }
        },
        items: function(_this){
            var result = $store.products.getItemsByParams(
                $.get.options(_this)
            );
            return result.length ? result.length : "";
        }
    };

    $.selected = function(_this){
        var options = $.get.options(_this);
        return $Products.state.get('type') == options.type && $Products.state.get('length') == options.length && $.parent.state.get('group') == options.group;
    };

    $.select = function(){
        $Products.state.set($.get.options(this));
        $Products.sections.create.update();
    };

    $.action = {
        copy: function(options){
            Store.set(
                'bufferProducts', $store.products.getItemsByParams(options)
            );
        },
        paste: function(options){
            var items = Store.get('bufferProducts');

            if (items && items.length){
                var _items = [];
                _.each(items, function(item, i){
                    _.extend(item, options);
                    item._id = _.newId() + i;
                    item.light = $Products.state.get('light');
                    _items.push($store.products.existItemsByParamsWithoutGroup(
                        options, item.article
                    ));
                });
                if (_.some(_items)){
                    $Notify.show({
                        color: "danger",
                        text: "Одни из добавляемых товаров, уже присутствуют в выбранной линейке"
                    })
                }
                else {
                    app.request('addProducts', items).then(function(){
                        $store.products.concat(items);
                        $.update();
                    });
                }
            }
        },
        clear: function(options){
            var items = $store.products.getItemsByParams(options),
                ids = _.pluck(items, "_id"),
                 _items = [];

            delete options.type;

            _.each(items, function(item, i){
                var params = _.copyArray(options);
                params[item.type] = item.article;
                _items.push($store.packages.select(options).get());
            });
            if (_.some(_items)){
                $Notify.show({
                    color: "danger",
                    text: "Одни из товаров удалить нельзя, они уже используется в комплекте"
                })
            }
            else {
                app.request('delProducts', { ids: ids }).then(function(){
                    _.each(ids, function(id){
                        $store.products.select({ "_id": id }).unset();
                    });
                    $.update();
                });
            }
        },
        edit: function(options){
            $Products.sections.edit.show(
                options,
                $store.products.getItemsByParams(options)
            );
        }
    }

    $.dropmenu = function(e){
        var $item = $$(e.target),
            options = $.get.options(this),
            isEmpty = $item.is(":empty"),
            items = [];

        if (Store.get('bufferProducts')){
            items.push({
                title: "Вставить",
                callback: function(){
                    if (isEmpty){
                        $.action.paste(options);
                    }
                    else {
                        $Alert.show({
                            title: "Заменить товары новыми?",
                            subtitle: "В этой ячейке уже есть товары",
                            success: {
                                callback: function(){
                                    $.action.clear(options);
                                    $.action.paste(options);
                                }
                            }
                        });
                    }
                }
            });
        }
        if (!isEmpty){
            items.push(
                {
                    title: "Скопировать",
                    callback: function(){
                        $.action.copy(options);
                    }
                },
                {
                    title: "Редактировать",
                    callback: function(){
                        $.action.edit(options);
                    }
                },
                {
                    title: "Очистить ячейку",
                    callback: function(){
                        $Alert.show({
                            title: "Удалить все товары в ячейке?",
                            subtitle: "Очистить ячейку",
                            success: {
                                callback: function(){
                                    $.action.clear(options);
                                }
                            }
                        });
                    }
                }
            );
        }

        $DropMenu.show({
            id: JSON.stringify(options),
            elem: $item,
            pos: "down-left",
            menu: items
        });
    };

</script>

</products-table>
