<products-options>

    <div class="product__item">
        <div class="product__item__image">
            <img name="image" onerror="this.src='/assets/images/no_photo.png'" src="http://ledtop-shop.ru/files/catalog/{ parent.product ? parent.product.p_art : '01266' }.jpg">
        </div>
        <div class="product__item__text">
            <div class="product__item__article">{ parent.product.p_art }</div>
            <div class="product__item__title">{ parent.product.p_name }</div>
            <div class="product__item__price">Розница: <span>{ parent.product.p_price } ₽</span></div>
        </div>
    </div>
    <div class="select select-m mb-m">
        <select name="selectLength" onChange={ select.length }>
            <option value="" selected>Выберите длину</option>
            <option each={ item in _.range(5, 55, 5) } value="{ item }" selected={ selected.length(item) }>{ item } метров</option>
        </select>
    </div>
    <div class="select select-m mb-m">
        <select name="selectGroup" onChange={ select.group }>
            <option value="" selected>Выберите ценовую группу</option>
            <option each={ item in $store.group.get() } value="{ item._id }" selected={ selected.group(item._id) }>{ item.title }</option>
        </select>
    </div>
    <div class="mb-m">
        <textarea class="textarea textarea-m" name="text" onInput={ onInput }></textarea>
    </div>
    <div class="inline text-right">
        <div onClick={ parent.onReset } onUpdate="none" class="btn btn-m btn-primary-hover mr-s">Отменить</div>
        <div onClick={ parent.onSave } onUpdate="self" class="btn btn-m btn-success { btn-disabled : !selectLength.value.length || !selectGroup.value.length || !text.value.length, btn-loading: parent.loading }">Добавить товар</div>
    </div>

<script>

    var $ = this;

    $.selected = {
        length: function(value){
            return $.parent.state.get('length') == value;
        },
        group: function(value){
            return $.parent.state.get('group') == value;
        }
    };

    $.onInput = function(){
        return true;
    };

    $.select = {
        length: function(e){
            $.parent.state.set('length', String(e.target.value));
        },
        group: function(e){
            $.parent.state.set('group', e.target.value);
        }
    };

</script>

</products-options>
