<control-light class="control" data-active={ active }>

    <div onClick={ toggle } onUpdate="none" class="control__light__icon" data-light="{ $Options.get('light') }"></div>
    <div onClick={ toggle } onUpdate="none" class="control__icon" data-icon="light"></div>
    <div class="control__container flex-row-left-center">
        <div class="control__container__title">тип освещения</div>
        <div onClick={ select } onUpdate="none" each={ item in $store.light.get() } class="control__light__item" data-balloon="{ item.title }" data-balloon-pos="up" data-light="{ item._id }"></div>
    </div>

<script>

    var $ = this;

    $.active = false;

    $.toggle = function(){
        $.update({
            active: !$.active
        })
    };

    $.select = function(){
        $Options.set('light', this.item._id);
        $.hide();
    };

    $.hide = function(){
        $.update({
            active: false
        })
    };

    $.handleClickOutside = function(e){
        if (!$.root.contains(e.target)) $.hide();
    };

    $.on("updated", function(){
        if ($.active){
            document.addEventListener('click', $.handleClickOutside);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</control-light>
