.section__menu {
    @include abs();
    @extend .display-block;
    @extend .overflowY-auto;
    @extend .section-hidden;
    padding:21vh 20px 15vh;

    &:after {
        @extend .content-empty;
        @extend .pos-abs;
        @extend .t-m;
        @extend .l-m;
        margin-left:4px;
        width:119px;
        height:29px;
        @extend .bg-cover;
        background-image:url('http://ledtop-shop.ru/img/logo.png');
    }
    // &__title {
    //     @extend .pos-tl;
    //     @extend .pt-m;
    //     @extend .pl-m;
    //     @extend .ml-xxs;
    //     @extend .c-blue;
    //     @extend .fontSize-l;
    //     @extend .fontWeight-8;
    //     @extend .text-uppercase;
    // }
    &__item {
        @extend .pos-rel;
        @include flex("row", "flex-start", "center");
        padding:24px 10px 24px 58px;
        border-bottom:1px solid rgba($grayLighten,.6);

        &__icon {
            @extend .flex-centered;
            @extend .pos-tl;
            @extend .h100p;
            width:64px;

            &:after {
                @extend .content-empty;
                @extend .display-block;
                @extend .mb-xxs;
            }
            &[data-icon="email"]{
                &:after {
                    @include ui-icon("sendEmail", 52px, 52px);
                    transform:translateX(-3px) scale3d(1, 1.15, 1);
                }
            }
            &[data-icon="order"]{
                &:after {
                    @include ui-icon("order", 52px, 52px);
                }
            }
            &[data-icon="callback"]{
                &:after {
                    @include ui-icon("callback", 36px, 44px);
                }
            }
            &[data-icon="payment"]{
                &:after {
                    @include ui-icon("pay_mobile", 44px, 44px);
                }
            }
            &[data-icon="question"]{
                &:after {
                    @include ui-icon("help", 34px, 34px);
                }
            }
            &[data-icon="votes"]{
                &:after {
                    @include ui-icon("stars_v", 44px, 44px);
                }
            }
        }
        &__title {
            @extend .pl-s;
            @extend .c-blackDark;
            @extend .fontFamily-helvetica;
            font-size:20.5px;
            @extend .text-truncate;
            @extend .maxW-100p;
            @extend .c-blackLight;
            @extend .letterSpacing--xs;
        }
    }
}
