.section__menu {
    @include abs();
    @extend .display-block;
    @extend .overflowY-auto;
    @extend .section-hidden;
    padding:21.5vh 20px 15vh;

    &:after {
        @extend .content-empty;
        @extend .pos-abs;
        @extend .t-m;
        @extend .l-m;
        margin-left:4px;
        width:119px;
        height:29px;
        @extend .bg-cover;
        background-image:url('http://ledtop-shop.ru/img/logo.png');
    }
    .button__close {
        @extend .opacity-100;
        @include ui-icon("back", 32px, 32px);
        transform:translateX(2px) scaleX(-1);
    }
    &__item {
        @extend .pos-rel;
        @include flex("row", "flex-start", "center");
        padding:24px 10px 24px 58px;
        border-bottom:1px solid rgba($grayLighten,.6);

        &__icon {
            @extend .flex-centered;
            @extend .pos-tl;
            @extend .h100p;
            width:64px;

            &:after {
                @extend .content-empty;
                @extend .display-block;
                @extend .mb-xxs;
            }
            &[data-icon="email"]{
                &:after {
                    @include ui-icon("sendEmail", 52px, 52px);
                    transform:translateX(-3px) scale3d(1, 1.15, 1);
                }
            }
            &[data-icon="order"]{
                &:after {
                    @include ui-icon("order", 54px, 54px);
                    transform:translateX(-3px);
                }
            }
            &[data-icon="payment"]{
                &:after {
                    @include ui-icon("wallet", 68px, 68px);
                }
            }
            &[data-icon="gallery"]{
                &:after {
                    @include ui-icon("instagram", 42px, 42px);
                }
            }
            &[data-icon="question"]{
                &:after {
                    @include ui-icon("help", 34px, 34px);
                }
            }
        }
        &__title {
            @extend .pl-s;
            @extend .c-blackDark;
            @extend .fontFamily-helvetica;
            font-size:20.5px;
            @extend .text-truncate;
            @extend .maxW-100p;
            @extend .c-blackLight;
            @extend .letterSpacing--xs;
        }
    }
}
