<section-menu-mobile class="section__menu bg-white zIndex-2" data-pos="right" data-notfully="true" data-open={ active }>

    <div onClick={ hide } onUpdate="none" class="button__close"></div>

    <div onClick={ open.profile } onUpdate="none" class="section__menu__item">
        <div class="section__menu__item__icon" data-icon="email"></div>
        <div class="section__menu__item__title">Расчет на почту</div>
    </div>
    <div onClick={ open.changePlan } onUpdate="none" class="section__menu__item">
        <div class="section__menu__item__icon" data-icon="order"></div>
        <div class="section__menu__item__title">Сделать предзаказ</div>
    </div>
    <div onClick={ open.changePlan } onUpdate="none" class="section__menu__item">
        <div class="section__menu__item__icon" data-icon="payment"></div>
        <div class="section__menu__item__title">Оплатить заказ</div>
    </div>
    <div onClick={ open.changePlan } onUpdate="none" class="section__menu__item">
        <div class="section__menu__item__icon" data-icon="gallery"></div>
        <div class="section__menu__item__title">Галерея подсветки</div>
    </div>
    <div onClick={ open.changePlan } onUpdate="none" class="section__menu__item">
        <div class="section__menu__item__icon" data-icon="question"></div>
        <div class="section__menu__item__title">Как сделать выбор</div>
    </div>

<script>

    var $ = this;

    $.active = false;

    $.show = function(){

        $Screen.trigger("mode", "hidden", true);

        $.update({
            active: true
        })
    };

    $.open = {
        profile: function(){

        },
        changePlan: function(){
            $Sections.payment.section.show("premium");
        }
    };

    $.hide = function(){

        $Screen.trigger("mode", "hidden", false);

        $.update({
            active: false
        })
    };

</script>

</section-menu-mobile>
