<section-navbar-mobile>

    <div class="container">
        <div class="row">
            <div class="col-xs-17 cell-left">
                <div onClick={ $Control.show } onUpdate="none" class="btn__control"></div>
                <div class="pack__name">НОРМА-2: одноцветная</div>
            </div>
            <div class="col-xs-7 cell-right">
                <div class="btn__ok"></div>
                <div onClick={ $Menu.show } onUpdate="none" class="btn__menu"></div>
            </div>
        </div>
    </div>

<script>


</script>

</section-navbar-mobile>
