<screen-podbor-mobile class="section" data-active="false" data-overlay="false" data-visible="false" data-animate="true" is-animate="false" data-hidden="false">

    <!-- <offer-manager></offer-manager> -->

    <section-control-mobile></section-control-mobile>

    <section-menu-mobile></section-menu-mobile>

    <div class="section__content">

        <section-navbar-mobile></section-navbar-mobile>

        <div class="content">
            <div class="rows">
                <div class="row">
                    <product-item-mobile name="ledribbon" item={ $Cursor.ledribbon }></product-item-mobile>
                    <product-item-mobile name="power" item={ $Cursor.power }></product-item-mobile>
                    <product-item-mobile name="control" item={ $Cursor.control }></product-item-mobile>
                    <div class="search__empty">
                        <div class="search__empty__text">К сожалению компоненты не найдены, измените условия поиска, длину или тип освещения.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section-products-list-mobile></section-products-list-mobile>

    <section-product-mobile></section-product-mobile>

    <section-result-count></section-result-count>

    <div class="section__overlay"></div>

<script>

    var $ = this,
    $scope = $$(this.root);

    $.active = false;

    $.tooltipScreen = null;

    $.on("before-mount", function(){

        $Navbar = $.tags["section-navbar-mobile"];
        $Menu = $.tags["section-menu-mobile"];

        $.sections = {
            resultCount: $.tags["section-result-count"],
            product: $.tags["section-product-mobile"],
            productsList: $.tags["section-products-list-mobile"]
        };

        $ = app.control.init($);
    });

    $.show = function(){
        $Screens.self.trigger("steps-hidden");
        $.root.setAttribute("data-visible", true);

        $.render();

        $.root.setAttribute("data-animate", false);
        $.root.setAttribute("data-active", true);
        $Router.params.set($Options.get());

        $.active = true;
    };

</script>

</screen-podbor-mobile>
