<root-main>

    <div class="screens"></div>

    <section-tutorial></section-tutorial>

    <section-notify></section-notify>

<script>

    $$ = window.jQuery || window.Zepto;

    $root = this;
    $rootScope = $$(this.root);

    app.ver = "1.0";

    var config = {
        tooltipScreen: false,
        showProducts: false,
        tutorial: true
    };

    var state = {
        control: true,
        light: "rgb",
        color: "green",
        humidity: "P67",
        length: "25"
    };

    var appVer = Store.get('appVer');

    if (appVer && appVer == app.ver){
        if (Store.get('config')){
            _.extend(config, Store.get('config'));
            config.showProducts = false;
        }
        if (Store.get('state')){
            _.extend(state, Store.get('state'));
        }
    }
    else {
        Store.clear();
        Store.set('appVer', app.ver);
    }

    $Config = new Baobab(config, { autoCommit: true });
    $State = new Baobab(state, { autoCommit: true });

    $State.on("update", function(e){
        Store.set('state', $State.get());
    });

    $Config.on("update", function(e){
        Store.set('config', $Config);
    });

    this.on("mount", function(){

        $Tutorial = $root.tags["section-tutorial"];
        $Notify = $root.tags["section-notify"];

        app.router.init();
    });

</script>

</root-main>
