<root-main id="app">

    <section-nav></section-nav>

    <section-content id="content"></section-content>

    <!-- <section-panel></section-panel> -->

    <section-loader></section-loader>
    <section-notify></section-notify>

<script>

    $root = this;

    this.on("mount", function(){

        app.$dom.root = $$($root.root);
        app.$dom.content = app.$dom.root.find("#content");

        $Nav = $root.tags["section-nav"];
        $Loader = $root.tags["section-loader"];
        $Notify = $root.tags["section-notify"];
        // $Panel = $root.tags["section-panel"];

        app.router.init();
    });

</script>

</root-main>
