<root-main id="app">

    <section-nav></section-nav>

    <section-content id="content"></section-content>

    <section-loader></section-loader>
    <section-loader-ajax></section-loader-ajax>
    <section-alert></section-alert>
    <section-notify></section-notify>
    <ui-dropmenu></ui-dropmenu>

<script>

    $root = this;

    this.on("mount", function(){

        app.$dom.root = $$($root.root);
        app.$dom.content = app.$dom.root.find("#content");

        $Nav = $root.tags["section-nav"];
        $Loader = $root.tags["section-loader"];
        $LoaderAjax = $root.tags["section-loader-ajax"];
        $Alert = $root.tags["section-alert"];
        $Notify = $root.tags["section-notify"];
        $DropMenu = $root.tags["ui-dropmenu"];

        app.router.init();
    });

</script>

</root-main>
