.products__table {
    @extend .text-center;

    &__wrapper {
        @extend .display-block;
        padding-left:70px;
    }
    &__header {
        @extend .pb-s;
        @extend .fontSize-20;
        border-bottom:1px solid rgba($grayLighten,.7);
    }
    &__row {
        @extend .pos-rel;
        border-bottom:1px solid rgba($grayLighten,.7);

        &:hover {
            div[class^="col-"]{
                background-color:rgba($blue,.03);
            }
        }
        div[class^="col-"]{
            @extend .flex-centered;
            @extend .fontSize-15;
            @extend .plr-m;
            @extend .h60;
            @extend .cursor-pointer;
            @extend .userSelect-none;
            @extend .transition-default;
            border-right:1px solid #dcdcdc;

            &[data-group="econom"]{
                @extend .c-blueDark;
            }
            &[data-group="norm"]{
                @extend .c-emeraldDark;
            }
            &[data-group="lux"]{
                @extend .c-orangeDark;
            }
            &:hover,
            &.selected {
                box-shadow:0 0 0 1px rgba($blue,.3);
                color:$black !important;
                @extend .bg-blue-transparent;
                @extend .zIndex-1;
            }
            &:hover {
                .products__table__buttonEdit {
                    @extend .opacity-100;
                    @extend .pointerEvents-all;
                }
                .products__table__items:empty ~ .products__table__buttonEdit {
                    @extend .display-none;
                }
            }
        }
    }
    &__length {
        @extend .flex-centered;
        @extend .pos-abs;
        top:-1px;
        left:-45px;
        font-size:16.5px;
        height:calc(100% + 2px);
        @extend .w45;
        background-color:rgba($grayLighten,.25);
    }
    &__items {
        padding-top:2px;
        @include textEllipsis(100%, 42px, 2);
    }
    &__item {
        @extend .pr-xxs;
    }
    &__buttonEdit {
        @extend .opacity-0;
        @extend .flex-centered;
        @extend .pos-abs;
        @extend .bg-blue;
        top:-1px;
        right:-1px;
        width:28px;
        height:28px;
        border-radius:4px 0 4px 6px;
        transition:opacity 0.2s $cubic645;
        @extend .cursor-pointer;
        @extend .pointerEvents-none;

        &:after {
            @extend .content-empty;
            @extend .display-block;
            @include ui-icon("pencil_white", 14px, 14px);
        }
    }
}
