@each $icon in (
    loading, loading_white, close, close_white, close_strong, close_strong_white,
    minus, minus_white, plus, plus_white, plus_thin, plus_thin_white,
    pencil, pencil_white, menu, menu_white, more_h, more_h_white, more_v,
    more_v_white, back, back_white, back_circle, back_circle_white, help, close_fill, close_strong, close_fill_gray, close_fill_white, info_white, check, check_black, check_white, check_circle, check_circle_green, edit, edit_white, repeat, settings_white, light, light_white, light_blue, brightness, brightness_blue, power, power_blue, humidity, humidity_blue, length, length_blue, unbox_white, led_mono, led_mono_white, led_rgb, led_lightrun_blue, led_lightrun_white, okey_white, sendEmail, order, stars_v, callback, phone, star_fill, pay_mobile, wallet, sizes_gray, arrowRight_white, like_fill_white, user_white, instagram, energy, energy_fill
){
    .ui-icon-#{$icon} {
        background:url('/assets/images/ui/ui-#{$icon}.svg') no-repeat 0 0 / cover;
    }
}
@mixin ui-icon($icon, $width: false, $height: false) {
    @if $width {
        width:#{$width};
    }
    @if $height {
        height:#{$height};
    }
    @extend .ui-icon-#{$icon};
}
.icon {
    @extend .display-inlineBlock;
    @extend .vAlign-middle;

    path, rect, polygon, circle {
        transition:fill 0.08s;
    }
    &-help {
        &.icon-l {
            width:32px;
            height:32px;
            transform:translateX(2px);
        }
    }
    &-email {
        &.icon-m {
            width:60px;
            height:60px;
            transform:translateY(10px) scale3d(1, 1.15, 1);
        }
    }
    &-order {
        &.icon-m {
            width:62px;
            height:62px;
            transform:translate3d(-2px, 9px, 0);
        }
    }
    &-wallet {
        &.icon-m {
            width:78px;
            height:78px;
            transform:translateY(8px);
        }
    }
    &-phone {
        &.icon-m {
            width:48px;
            height:48px;
            transform:translateY(8px);
        }
    }
    &-votes {
        &.icon-m {
            width:58px;
            height:58px;
            transform:translateY(9px);
        }
    }
    &-gallery {
        &.icon-m {
            width:38px;
            height:38px;
            transform:translateY(4px);
        }
    }
    &-fb {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-dk {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-vk {
        &.icon-m {
            width:30px;
            height:30px;
        }
    }
    &-tw {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-gl {
        &.icon-m {
            width:32px;
            height:32px;
        }
    }
}
