.rangeslider {
    @extend .pos-bl;
    @extend .w100p;
    @extend .zIndex-1;

    &-handle {
        @extend .pos-abs;
        @extend .w20;
        @extend .h20;
        @extend .bg-blue;
        @extend .cursor-pointer;
        border-radius:0 0 3px 3px;
        transform:translateY(-2px);

        .d-phone &,
        .d-tablet & {
            width:24px;
            height:24px;
            transform:translateY(2px);
            border-radius:0 0 6px 6px;
        }
        &:before {
            @extend .content-empty;
            @extend .pos-centered-h;
            @extend .b90;
            @extend .w4px;
            height:40px;
            @extend .bg-blue;
            @extend .opacity-10;

            .d-phone &,
            .d-tablet & {
                height:43px;
            }
        }
        &:after {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .l0;
            top:-12px;
            @extend .w100p;
            border-top:0;
            border-bottom:12px solid $blue;
            border-right:9px solid transparent;
            border-left:9px solid transparent;
            box-shadow:0 2px 0 $blue;

            .d-phone &,
            .d-tablet & {
                top:-15px;
                border-bottom-width:15px;
                border-right-width:12px;
                border-left-width:12px;
            }
        }
    }
}
