<screen-podbor class="section" data-active="false" data-visible="false" data-animate="true" is-animate="false">

    <!-- <offer-manager></offer-manager> -->

    <div class="wrapper">

        <div if={ app.device.isMobile } onClick={ open.control } onUpdate="none" class="control__opener"></div>

        <section-control></section-control>

        <section-packages-select></section-packages-select>

        <div class="content">
            <div class="rows">
                <div class="row">
                    <product-item name="ledribbon" item={ $Cursor.ledribbon }></product-item>
                    <product-item name="power" item={ $Cursor.power }></product-item>
                    <product-item name="control" item={ $Cursor.control }></product-item>
                    <div class="search__empty">
                        <div class="search__empty__text">К сожалению компоненты не найдены, измените условия поиска, длину или тип освещения.</div>
                    </div>
                </div>
            </div>
        </div>

        <section-menu></section-menu>

    </div>

    <section-packages></section-packages>

    <screens-order></screens-order>

    <div class="section__overlay"></div>

<script>

    var $ = this,
    $scope = $$(this.root);

    $.active = false;

    $.tooltipScreen = null;

    $.on("before-mount", function(){

        $Menu = $.tags["section-menu"];

        $.sections = {
            packages: $.tags["section-packages"],
            packagesSelect: $.tags["section-packages-select"],
            order: $.tags["screens-order"],
            totalPrice: $.tags["section-control"].tags["total-price"]
        };

        $ = app.control.init($);
    });

    $.show = function(options){
        $Screens.self.trigger("steps-hidden");
        $.root.setAttribute("data-visible", true);

        $.render();

        $afterlag.m(function(){
            if (options && options.animate){
                $.root.setAttribute("is-animate", true);
                _.onEndTransition($Menu.root, function(){
                    $.onReady(options.section);
                });
            }
            else {
                $.onReady(options.section);
            }
        });
    };

    $.onReady = function(section){
        $.root.setAttribute("data-animate", false);
        $.root.setAttribute("data-active", true);

        if ($State.get("tutorial")){
            $.open.tutorial();
        }

        $Router.params.set($Options.get());

        $.trigger("ready");

        if (section){
            if (section == "order") $.open.order();
            else if (section == "sendmail") $.open.sendmail();
            else if (section == "payment") $.open.payment();
            else if (section == "gallery") $.open.gallery();
        }
        $.active = true;
    };

    $.open = {
        tutorial: function(){
            $Tutorial.show($scope, "podbor");
            $State.set('tutorial', false);
        },
        control: function(){
            $Control.show();
        },
        order: function(){
            $Menu.items.open.order();
        },
        payment: function(){
            $Menu.items.open.payment();
        },
        sendmail: function(){
            $Menu.items.open.sendmail();
        },
        gallery: function(){
            $Menu.items.open.gallery();
        }
    };

</script>

</screen-podbor>
