<screens class="screens section">

    <screen-begin></screen-begin>

    <screen-step1></screen-step1>

    <screen-step2></screen-step2>

    <screen-podbor></screen-podbor>

<script>

    var $ = this;

    $.on("before-mount", function(){
        $Screens = {
            begin: $.tags["screen-begin"],
            step1: $.tags["screen-step1"],
            step2: $.tags["screen-step2"],
            podbor: $.tags["screen-podbor"]
        };
        $Screen = $Screens.podbor;
    });

</script>

</screens>
