<screen-step3 class="section" data-active={ active } data-hidden="false">

    <div class="container">
        <div class="row pt-m">
            <div class="col-md-6">
                <div class="pr-m pos-rel" data-balloon="Тип подсветки" data-balloon-pos="down">
                    <div class="select select-m">
                        <div class="select-icon select-icon-light"></div>
                        <select>
                            <option>Монохромная</option>
                            <option selected>Мультицветная</option>
                            <option>Бегущий огонь</option>
                        </select>
                        <span class="select-arrow"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nowrap pr-m flex-row-left-center h40">
                    <div class="pr-s">Цвет свечения</div>
                    <div class="borderRadius-circle bg-red w20 h20"></div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="nowrap pr-m flex-row-left-center">
                    <div class="pr-m">Длинна ленты</div>
                    <ui-slider size="m" value="25" min="5" max="50" step="5"></ui-slider>
                    <div class="pl-xs">м</div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="pr-m pos-rel" data-balloon="Влазозащищенность" data-balloon-pos="down">
                    <div class="select select-m">
                        <div class="select-icon select-icon-humidity"></div>
                        <select>
                            <option>IP64 - от брызгов воды</option>
                            <option selected>IP65 - защита от струй воды</option>
                            <option>IP66 - сильная струя воды</option>
                            <option>IP67 - погружение под воду</option>
                        </select>
                        <span class="select-arrow"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$(this.root);

    $.active = true;
    $.animate = {
        title: {
            in: false,
            out: false
        }
    };

    $.show = function(){
        //$.root.setAttribute("data-hidden", false);
        // $afterlag.run(function(){
        //     $.animate.title.in = true;
        //     $.update();
        // }, {
        //     iterations: 5
        // });
    };

</script>

</screen-step3>
