<screen-podbor class="section" data-active="false" data-visible="false" data-animate="true" is-animate="false">

    <!-- <offer-manager></offer-manager> -->

    <div class="wrapper">

        <section-control></section-control>

        <section-packages-select></section-packages-select>

        <div class="content">
            <div class="rows">
                <div class="row">
                    <product-item name="ledribbon" item={ $Cursor.ledribbon }></product-item>
                    <product-item name="power" item={ $Cursor.power }></product-item>
                    <product-item name="control" item={ $Cursor.control }></product-item>
                    <div class="search__empty">
                        <div class="search__empty__text">К сожалению компоненты не найдены, измените условия поиска, длину или тип освещения.</div>
                    </div>
                </div>
            </div>
        </div>

        <section-menu></section-menu>

    </div>

    <section-packages></section-packages>

    <screens-order></screens-order>

    <div class="section__overlay"></div>

<script>

    var $ = this,
    $scope = $$(this.root);

    $.active = false;

    $.tooltipScreen = null;

    $.on("before-mount", function(){

        $Menu = $.tags["section-menu"];
        $Control = $.tags["section-control"];
        $Control.wrapper = $Control.tags["control-wrapper"];
        $Control.light = $Control.wrapper.tags["control-light"];
        $Control.humidity = $Control.wrapper.tags["control-humidity"];
        $Control.color = $Control.wrapper.tags["control-color"];
        $Control.length = $Control.wrapper.tags["control-length"];

        $Control.refresh = {
            humidity: function(){
                $Options.set('hum', $Cursor.ledribbon.get("product", "hum"));
            },
            color: function(){
                $Options.set('color', $Cursor.ledribbon.get("product", "color"));
            }
        };

        $Product = {
            "ledribbon": $["ledribbon"]._tag,
            "power": $["power"]._tag,
            "control": $["control"]._tag
        };

        $Cursor = {
            ledribbon: $store.data.getProductCursor("ledribbon"),
            power: $store.data.getProductCursor("power"),
            control: $store.data.getProductCursor("control")
        };

        $.sections = {
            packages: $.tags["section-packages"],
            packagesSelect: $.tags["section-packages-select"],
            order: $.tags["screens-order"],
            totalPrice: $Control.tags["total-price"]
        };

        $.render();
    });


    $.show = function(animate){
        $Screens.self.trigger("steps-hidden");
        $.root.setAttribute("data-visible", true);

        //$.render(true);

        $.update();

        $afterlag.m(function(){
            if (animate){
                $.root.setAttribute("is-animate", true);
                _.onEndTransition($.menu, function(){
                    $.onReady();
                });
            }
            else {
                $.onReady();
            }
        });
    };

    $.onReady = function(){
        $.root.setAttribute("data-animate", false);
        $.root.setAttribute("data-active", true);
        if ($State.get("tutorial")){
            $.open.tutorial();
        }
        $Router.params.set($Options.get());
        $.trigger("ready");
        $.active = true;
    };

    $.render = function(update){
        var group = $State.get("group");
            options = {
            "group": group,
            "light": $Options.get("light"),
            "length": $Options.get("length")
        }
        $.set.productsAll(options);

        var pkg = _.sortArray(
            $store.packages.getItemsByParams(options)
        , "pos")[0];

        if (pkg){
            $State.select("package").set(pkg._id);
            $.set.products(pkg);
        }
        else {
            $State.select("package").set(null);
            $.set.products({
                "ledribbon": $Cursor.ledribbon.get("products", {"group": group}),
                "power": $Cursor.power.get("products", {"group": group}),
                "control": $Cursor.control.get("products", {"group": group})
            });
        }

        $store.humidity.setStore();
        $Control.refresh.humidity();

        $store.color.setStore();
        $Control.refresh.color();

        $.set.totalPrice();

        if (update) $.update();
    };

    $.open = {
        tutorial: function(){
            $Tutorial.show($scope, "podbor");
            $State.set('tutorial', false);
        },
        gallery: function(){
            $Menu.items.open.gallery();
        }
    };

    $.set = {
        params: function(){
            $Router.params.set($Options.get());
        },
        products: function(data){
            if (!data) return;
            $store.data.setProducts({
                "ledribbon": data.ledribbon && data.ledribbon.article ? data.ledribbon.article : data.ledribbon,
                "power": data.power && data.power.article ? data.power.article : data.power,
                "control": data.control && data.control.article ? data.control.article : data.control,
            });
        },
        productsAll: function(options){
            if (!options) return;
            $store.data.setProductsAll({
                "ledribbon": _.sortArray($store.products.getItemsByParams(
                    _.extend(options, {"type": "ledribbon"})
                ), "pos"),
                "power": _.sortArray($store.products.getItemsByParams(
                    _.extend(options, {"type": "power"})
                ), "pos"),
                "control": _.sortArray($store.products.getItemsByParams(
                    _.extend(options, {"type": "control"})
                ), "pos")
            });
        },
        totalPrice: function(){
            var result = 0,
                products = {
                    ledribbon: $Cursor.ledribbon.get("product", "price"),
                    power: $Cursor.power.get("product", "price"),
                    control: $Options.get("control") ? $Cursor.control.get("product", "price") : null
                };

            result += products.ledribbon ? products.ledribbon * $Options.get("length") : 0;
            result += products.power ? products.power : 0;
            result += products.control ? products.control : 0;

            $.sections.totalPrice.refresh(result);
            $Menu.totalPrice.refresh(result);
        }
    };

    var setParams = _.debounce($.set.params, 300),
        reRender = _.debounce($.render, 300);

    $Options.on("write", function(e){
        var prop = e.data.path[0];

        if (prop == "control"){
            $Product["control"].update();
        }
        else if (prop == "light" || prop == "length"){
            reRender(true);
        }
        else if (prop == "hum"){
            $Control.humidity.update();
        }
        else if (prop == "color"){
            $Control.color.update();
        }
        if ($.active){
            setParams();
            if (prop != "length" && !app.device.isPhone) $.set.totalPrice();
        }
    });

    _.bbUpdate($store.data, function(prop, value, e){
        if ($.active){
            if (value){
                if (value.type == "ledribbon"){
                    $Product["ledribbon"].update();
                }
                else if (value.type == "power"){
                    $Product["power"].update();
                }
                else if (value.type == "control"){
                    $Product["control"].update();
                }
            }
            $.set.totalPrice();
        }
    });

    _.bbUpdate($State, function(prop, value, e){
        if (prop){
            if (prop == "showProducts" && value && !$State.get("tooltipScreen") && !$Tutorial.active){
                $afterlag.run(function(){
                    if ($State.get("tooltipScreen")) return;
                    if (value == "ledribbon"){
                        $.tooltipScreen = $Product["control"].tags["product-tooltip-screen"];
                    }
                    else if (value == "power"){
                        $.tooltipScreen = $Product["ledribbon"].tags["product-tooltip-screen"];
                    }
                    else if (value == "control"){
                        $.tooltipScreen = $Product["ledribbon"].tags["product-tooltip-screen"];
                    }
                    $.tooltipScreen.show();
                }, {
                    delay: 500,
                    iterations: 5
                });
            }
        }
    });

</script>

</screen-podbor>
