<products-list class="products__list" data-active="false">

    <div class="products__list__container">
        <div onClick={ hide } onUpdate="none" class="products__list__close">{ app.device.isPhone ? 'закрыть' : 'скрыть' }</div>
        <div class="{ display-none : !$Data.getProductsList(parent.opts.item.get('_id'), 'lux').length }">
            <div class="products__list__title"><i></i><i></i><i></i>ЛЮКС</div>
            <div class="rows products__list__items" data-items="lux">
                <div class="row">
                    <div onClick={ onSelect } onUpdate="none" each={ item, i in $Data.getProductsList(parent.opts.item.get('_id'), 'lux') } data-id="{ item.article }"  class="col-xs-8 products__list__item" data-active={ get.select(item) }>
                        <img src="{ item.photo }" class="products__list__item__image">
                    </div>
                </div>
            </div>
        </div>
        <div class="{ display-none : !$Data.getProductsList(parent.opts.item.get('_id'), 'norm').length }">
            <div class="products__list__title"><i></i><i></i>Норма</div>
            <div class="rows products__list__items" data-items="norm">
                <div class="row">
                    <div onClick={ onSelect } onUpdate="none" each={ item, i in $Data.getProductsList(parent.opts.item.get('_id'), "norm") } data-id="{ item.article }" class="col-xs-8 products__list__item" data-active={ get.select(item) }>
                        <img src="{ item.photo }" class="products__list__item__image">
                    </div>
                </div>
            </div>
        </div>
        <div class="{ display-none : !$Data.getProductsList(parent.opts.item.get('_id'), 'econom').length }">
            <div class="products__list__title"><i></i>Эконом</div>
            <div class="rows products__list__items" data-items="econom">
                <div class="row">
                    <div onClick={ onSelect } onUpdate="none" each={ item, i in $Data.getProductsList(parent.opts.item.get('_id'), "econom") } data-id="{ item.article }" class="col-xs-8 products__list__item" data-active={ get.select(item) }>
                        <img src="{ item.photo }" class="products__list__item__image">
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.selected = null;

    $.product = null;

    $.on("mount", function(){
        if (!app.device.isMobile){
            $scope.on("mouseenter mouseleave", ".products__list__item", function(e){
                if (e.currentTarget.getAttribute("data-active") != "true"){
                    if (e.type === "mouseenter"){
                        $.product = _.copyArray($.parent.opts.item.get("product"));
                        var item = $.parent.opts.item.get("products", {"article": e.currentTarget.getAttribute("data-id")})
                        $.selected = $.product.article;
                        $.parent.opts.item.set("product", item);
                        $Product[$.parent.opts.item.get("_id")].update();
                    }
                    else {
                        $.selected = null;
                        $.parent.opts.item.set("product", $.product);
                        $Product[$.parent.opts.item.get("_id")].update();
                    }
                }
            });
        }
    });

    $.get = {
        select: function(item){
            if ($.selected){
                return $.selected === item.article;
            }
            else {
                return $Product[$.parent.opts.item.get("_id")].opts.item.get("product").article === item.article;
            }
        }
    };

    $.onSelect = function(){
        $.selected = null;
        var _id = $.parent.opts.item.get("_id");
        $Product[_id].opts.item.set("product", this.item);
        $Product[_id].update();
        if (app.device.isPhone) $.update();
        $.hide();
    };

    $.toggle = function(){
        if (!$.active && $Config.get("showProducts")){
            $Notify.show({
                color: "primary",
                text: "Завершите предыдущий выбор"
            })
        }
        else {
            $.active = !$.active;
            $.control();
        }
    };

    $.show = function(){
        $.active = true;
        $.control();
    };

    $.hide = function(){
        if (app.device.isPhone){
            $.parent.hide();
        }
        else {
            $.active = false;
            $.control();
        }
    };

    $.control = function(){
        $.parent.root.setAttribute("data-products", $.active);
        $.root.setAttribute("data-active", $.active);

        if ($.active){
            $Product["power-supply"].tags["connect-control"].hide();
            $Config.set("showProducts", $.parent.opts.item.get("_id"));
        }
        else {
            $Product["power-supply"].tags["connect-control"].show();
            $Config.set("showProducts", false);
        }
    };

</script>

</products-list>
