screen-podbor-mobile {
    background-color:#171719;

    .content {
        @include abs();
        padding-top:60px;
        @extend .bg-white;
    }
    .section__menu {
        .button__close {
            @extend .opacity-100;
            @include ui-icon(back_circle, 24px, 34px);
        }
    }
}

@media screen and (max-height: 525px) {
    screen-podbor-mobile {
        .content {
            padding-top:50px;
        }
    }
}
