.screen__gallery {
    @extend .display-block;
    @include abs();
    @extend .c-white;

    &__image {
        @include abs();
        @extend .bg-cover;

        &:after {
            @extend .content-empty;
            @include abs();
            background:radial-gradient(rgba(64,64,75,.9), rgba(17,17,24,.9)) rgba(34,34,40,.52);
            @extend .opacity-15;
        }
    }
    &__like {
        @extend .pos-abs;
        @extend .t-m;
        @extend .l-m;
        @include ui-icon("like_fill_white", 37px, 37px);
        margin:11px;
        @extend .btn-active;
        @extend .btn-hover;
        @extend .opacity-60;
    }
    &__stat {
        @extend .flex-row-right-center;
        @extend .pos-abs;
        @extend .t-m;
        @extend .r-m;
        @extend .p-xs;
        @extend .h40;
        @extend .fontSize-15;
        @extend .text-uppercase;

        &__count {
            @extend .flex-centered;
            @extend .fontSize-22;
            @extend .fontWeight-5;
            margin-bottom:2px;

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @include ui-icon("user_white", 28px, 28px);
                @extend .mlr-xs;
                @extend .mb-xxs;
            }
        }
    }
    &__colors {
        @extend .flex-row-right-center;
        @extend .pos-abs;
        @extend .r-xl;
        bottom:140px;
        @extend .h30;
        @extend .fontSize-16;
        @extend .text-uppercase;

        &__text {
            @extend .flex-centered;
            @extend .opacity-0;
            transform:translateY(-22px);

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @include ui-icon(led_rgb, 44px, 44px);
                @extend .mr-xs;
                transform:translateY(-2px);
            }
        }
        &__items {
            @extend .pos-br;
            @extend .flex-row-right-center;
        }
        &__item {
            @extend .w50;
            @extend .h70;
            @extend .ml-xs;

            @each $title, $color in (blue: $blue, cool_white: darken(#E0FFFF,12%), day_white: darken(#fff6d5,12%), green: $green, pink: #ec008c, red: $red, violet: #90F, warm_white: #fcfca0, white: #fff, yellow: #FF3){
                &[data-color="#{$title}"]{
                    background:linear-gradient(to top, rgba($color,.5), rgba($color,0));
                    box-shadow:0 12px 20px -10px rgba($color, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba($color, 0.2);
                }
            }
        }
    }
    &__nav {
        @extend .pos-abs;
        bottom:140px;
        @extend .l0;
        @extend .w100;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t50;
            @extend .l0;
            @extend .w100p;
            @extend .h1px;
            @extend .bg-white;
            @extend .opacity-20;
        }
        &__button {
            @extend .pos-rel;
            @extend .flex-centered;
            @extend .h75;
            background-color:rgba($blackDark,.2);
            @extend .btn-active;

            &:after {
                @extend .content-empty;
                @extend .display-block;
                @include ui-icon("arrowRight_white", 38px, 38px);
            }
            &[data-arrow="up"]:after {
                transform:rotate(-90deg);
            }
            &[data-arrow="down"]:after {
                transform:rotate(90deg);
            }
            &.i-disabled {
                @extend .opacity-40;
                @extend .pointerEvents-none;
            }
            &[name="navPrev"].i-disabled ~ .screen__gallery__nav__button .screen__gallery__nav__title {
                @extend .display-block;
            }
        }
        &__title {
            @extend .display-none;
            @extend .pos-centered-v;
            @extend .l100;
            @extend .pl-m;
            @extend .fontSize-15;
            @extend .fontWeight-3;
            @extend .c-yellow;
            @extend .text-uppercase;
        }
    }
    &__content {
        @extend .pos-bl;
        @extend .w100p;
        height:140px;
        background:linear-gradient(to top, #070707, rgba(#070707,.0));
        @extend .zIndex-1;

        &:before {
            @extend .content-empty;
            @include abs();
            @extend .bg-blackDark;
            @extend .opacity-10;
        }
        &:after {
            @extend .content-empty;
            @extend .pos-tl;
            @extend .w100p;
            @extend .h1px;
            @extend .bg-white;
            @extend .opacity-20;
        }
    }
    .rows {
        @extend .pl-xl;
        @extend .pr-l;
    }
    &__cell {
        @extend .flex-row-left-center;
        height:140px;
        @extend .pb-xxs;
    }
    &__title {
        @extend .pl-m;
        @extend .fontSize-28;
        @extend .fontWeight-3;
    }
    .btn {
        @extend .c-yellow;
        box-shadow:0 0 0 1px $yellow;
        background:linear-gradient(to top, rgba($yellow,.06), rgba($yellow,0));

        &:hover {
            background:$green;
            color:$white;
        }
    }
}
