.screen__gallery {
    @extend .display-block;
    @include abs();
    @extend .c-white;
    @extend .cursor-default;

    &__image {
        @include abs();
        @extend .bg-cover;

        &:after {
            @extend .content-empty;
            @include abs();
            background:radial-gradient(rgba(64,64,75,.9), rgba(17,17,24,.9)) rgba(34,34,40,.52);
            @extend .opacity-15;
        }
    }
    &__like {
        @extend .pos-abs;
        @extend .t-m;
        @extend .l-m;
        @include ui-icon("like_fill_white", 37px, 37px);
        margin:11px;
        @extend .btn-active;
        @extend .btn-hover;
        @extend .opacity-60;
    }
    &__stat {
        @extend .flex-row-right-center;
        @extend .pos-abs;
        @extend .t-m;
        @extend .r-m;
        @extend .p-xs;
        @extend .h40;
        @extend .fontSize-15;
        @extend .text-uppercase;
        transform:translateX(-2px);

        &__count {
            @extend .flex-centered;
            @extend .fontSize-22;
            @extend .fontWeight-5;
            margin-bottom:2px;

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @include ui-icon("user_white", 28px, 28px);
                @extend .mlr-xs;
                @extend .mb-xxs;
            }
        }
    }
    &__light__title {
        @extend .flex-row-right-center;
        @extend .pos-abs;
        @extend .r-xl;
        bottom:162px;
        @extend .h30;
        @extend .fontSize-16;
        @extend .text-uppercase;

        &__content {
            @extend .flex-centered;

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @include ui-icon(led_rgb, 44px, 44px);
                @extend .mr-xs;
                transform:translateY(-2px);
            }
        }
    }
    &__nav {
        @extend .pos-abs;
        bottom:140px;
        @extend .l0;
        @extend .w100;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t50;
            @extend .l0;
            @extend .w100p;
            @extend .h1px;
            @extend .bg-white;
            @extend .opacity-20;
        }
        &__button {
            @extend .pos-rel;
            @extend .flex-centered;
            @extend .h75;
            background-color:rgba($blackDark,.2);
            @extend .btn-active;

            &:after {
                @extend .content-empty;
                @extend .display-block;
                @include ui-icon("arrowRight_white", 38px, 38px);
            }
            &[data-arrow="up"]:after {
                transform:rotate(-90deg);
            }
            &[data-arrow="down"]:after {
                transform:rotate(90deg);
            }
            &.i-disabled {
                @extend .opacity-40;
                @extend .pointerEvents-none;
            }
            &[name="navPrev"].i-disabled ~ .screen__gallery__nav__button .screen__gallery__nav__title {
                @extend .display-block;
            }
        }
        &__title {
            @extend .display-none;
            @extend .pos-centered-v;
            @extend .l100;
            @extend .pl-m;
            @extend .fontSize-15;
            @extend .fontWeight-3;
            @extend .c-yellow;
            @extend .text-uppercase;
        }
    }
    &__options {
        @extend .pos-bl;
        @extend .w100p;
        height:140px;
        background:linear-gradient(to top, #070707, rgba(#070707,.0));
        @extend .nowrap;
        @extend .zIndex-1;

        &:before {
            @extend .content-empty;
            @include abs();
            @extend .bg-blackDark;
            @extend .opacity-10;
        }
        &:after {
            @extend .content-empty;
            @extend .pos-tl;
            @extend .w100p;
            @extend .h1px;
            @extend .bg-white;
            @extend .opacity-20;
        }
        &__rows {
            @extend .pl-xl;
        }
        &__cell {
            @extend .flex-row-left-center;
            height:140px;
            @extend .pb-xxs;
        }
        .button {
            margin-left:42px;
        }
    }
    &__title {
        @extend .pl-m;
        @extend .fontSize-28;
        @extend .fontWeight-3;
    }
    &__price {
        @extend .fontSize-28;
        @extend .pl-l;
    }
    &__select {
        @extend .pos-rel;

        &__title {
            @extend .pos-abs;
            @extend .b100;
            @extend .l-m;
            @extend .c-white;
            @extend .fontSize-11;
            line-height:10px;
            @extend .text-uppercase;
            @extend .fontWeight-bold;
            padding:2px 6px;
            @extend .opacity-80;
        }
    }
    .select {
        background-color:rgba($white,.06);
        box-shadow:0 0 0 1px rgba($white,.5);

        &:after {
            border-top-color:$emerald;
        }
        &:hover {
            box-shadow:0 0 0 1px rgba($white,.7);
        }
    }
    .btn {
        @extend .c-yellow;
        box-shadow:0 0 0 1px $yellow;
        background:linear-gradient(to top, rgba($yellow,.06), rgba($yellow,0));

        &:hover {
            background:$green;
            color:$white;
            box-shadow:0 0 0 1px $green;
        }
    }
}
