screen-podbor-mobile {
    .products__list {
        &__container {
            @extend .ptb-s;
            @extend .plr-xs;
        }
        &__close {
            @extend .l-s;
            @extend .fontSize-20;
            @extend .fontWeight-normal;
            transform:translateY(-7px);

            &:before {
                @include ui-icon("close_strong", 36px, 36px);
            }
        }
        &__title {
            @extend .fontSize-22;

            i {
                width:24px;
                height:24px;
                transform:translateY(-3px);

                &:last-child {
                    @extend .mr-xs;
                }
            }
        }
        &__item {
            &[data-active="true"]{
                &:after {
                    width:23px;
                    height:23px;
                }
            }
        }
        &[data-product="ledribbon"] {
            .products__list__item__image {
                max-width:85px;
            }
        }
        &[data-product="power"] {
            .products__list__item__image {
                max-width:90px;
            }
        }
        &[data-product="control"] {
            .products__list__item__image {
                max-width:78px;
            }
        }
    }
    .search__empty {
        @extend .fontSize-28;
        @extend .lineHeight-40;
        @extend .zIndex-2;

        &__text {
            @extend .w100p;
            @extend .pt-l;
            @extend .plr-l;
            @extend .mt-xs;
            @extend .text-left;
        }
    }
}
